@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Quicksand:wght@300;500;600;700&display=swap');
/* font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Quicksand', sans-serif; */
:root{
    --negro: #222222;
    --medinegro:#33363d;
    --grisoscuro:#474747;
    --gris:#818181;
    --grisclaro: #D4D4D4;
}


body{
    background-color: var(--medinegro);
  
}



.contenedorheader{

  background-color: var(--negro);
}
header{
    
    color: var(--grisclaro);
 
}
header a{
  
    color: var(--grisclaro);
  
   
}
header a:hover {
    box-shadow: -2px -3px 0 var(--grisclaro) inset;
   
}
/* THE BOX */

.thebox{
    
 
    background-color: var(--gris);
  
  
}
#minibox{
  
    background-color: var(--negro);
   
    
}

#minibox h2{

color: var(--grisclaro);

}
.letrasbox{
   
  
    
    color: var(--grisclaro);
    
}
.underbox{
    color: white;
  
   
    

}
#containerabout{

    background-color: var(--grisoscuro);
   
}
#containerabout h2{
  
    color: white;
   
    background-color: var(--medinegro);
    
}
#containerabout h3{
   
    color: rgb(255, 255, 255);
  
   
}

    
   


.cuadrado{
   
     background-color: var(--medinegro);
    
 }
  

 #containerworks h2{
   
     color: white;
    
     background-color: var(--medinegro);
    
     
 }

 
 .work{
    
   
     background-color: var(--negro);
    }
 .work h3{
   
     color: white;
    
 }
 .work p{
     color: white;
     
 }
 
 .work:hover{
     
     background-color: var(--gris);
 }
 
 


 /* FOOTER */

footer{
   
    background-color: white;
    
}

.iconos{
 background-color: var(--grisoscuro);
}