@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Quicksand:wght@300;500;600;700&display=swap');
/* font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Quicksand', sans-serif; */

:root{
    --fondo2: #726bb3;
}
body{
    background-color: #6b94b3;
   
}


.contenedorheader{

  background-color: #eefcff;
}
header{
  
    color: #db9e91;
  
}
header a{ 
    color: #db9e91;
    
}
header a:hover {
    box-shadow: -2px -3px 0 #6b94b3 inset;
   
}





.thebox{
  
    background-color: #db9e91;
   
  
}
#minibox{
   
    background-color: #57d6cc;
    
    
}

#minibox h2{

color: #5b6770;

}
.letrasbox{
 
    
    color: #db9e91;
   
}
.underbox{
    color: #ffffff;
  
        

}

#containerabout{
   
    background-color: #587a94;
   
}
#containerabout h2{
   
    color: #ffffff;
   
    background-color: #6b94b3;
   
}
#containerabout h3{
   
    color: rgb(255, 255, 255);

}

.cuadrado{
   
  
    background-color: #6b94b3;
   

}

/* WORKS */


#containerworks h2{
 
    color: white;
   
    background-color: #6b94b3;
   
    
}


.work{
   
   
    background-color: #db9e91;
    
   
}
.work h3{
   
    color: #ffffff;
   
}
.work p{
    color: #ffffff;
  
}

.work:hover{
   
    background-color: #587a94;
}


li{
    display: inline;
}


/* FOOTER */

footer{
  
    background-color: white;
    
}

.iconos{
    background-color: #587a94;
    
    

}
