@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Quicksand:wght@300;500;600;700&display=swap');
/* font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Quicksand', sans-serif; */
*{
    margin: 0;
    padding: 0;
    transition: all 500ms ease-in;
}
:root{
    --fondo2: #726bb3;
}
body{
    background-color: #6b94b3;
    font-family: 'Quicksand', sans-serif;
}
.container{
    
    margin: 0 auto;
}


.contenedorheader{
  width: 100%;
  background-color: #eefcff;
}
header{
    width: 60%;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;   
    color: #db9e91;
 
}
header a{
    text-decoration: none;
    color: #db9e91;
    padding: 0 10px;
}

/* THE BOX */
#containerthebox{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    
}
.thebox{
    width: 350px;
    height: 350px;
    background-color: #db9e91;
    border-radius: 30px;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.418);
    position: relative;
  
}
#minibox{
    width: 175px;
    height: 175px;
    border-radius: 30px;
    background-color: #57d6cc;
    box-shadow: 10px 10px 0 rgba(61, 38, 71, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 0.5s ease-in;
    
}

#minibox h2{
font-size: 50px;
color: #5b6770;

}
.letrasbox{
    width: 250px;
    
    color: #db9e91;
    font-size: 50px;
    text-align: left;
   padding: 40px;
}
.underbox{
    color: #ffffff;
  
    padding-top: 23px;
    font-size: 16px;
    text-align: center;
    

}

#containerabout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #587a94;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.418)  inset;
}
#containerabout h2{
    padding: 20px;
    width: fit-content;
    color: #ffffff;
    font-weight: bolder;
    background-color: #6b94b3;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.418) ;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;

}
#containerabout h3{
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 20px;
}

    
   


.cuadrado{
   
   display: flex;
   flex-direction: column;
   
   align-items: center;
   
    /* align-items: center; */
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.418) ;
   width: 350px;
   height:350px;
 
   padding: 25px;
   margin-left: 20px;
   margin-right: 20px;
    background-color: #6b94b3;
    z-index: 0;

}
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.cuadrado img{
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


/* WORKS */

#containerworks{
    position: relative;
    
width: 100%;

}
#containerworks h2{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 40px;
    background-color: #6b94b3;
   
    
}
.works{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #57d6cc; */
   margin-bottom: 30px;
    
}
a{
    height: fit-content;
    width: fit-content;
}
.work{
   
    transition: all 300ms ease;
    width: 200px;
    height: 200px;
    background-color: #db9e91;
    
    border-radius: 20px;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.418) ;
    border: none;
    margin: 0 auto;
    margin: 25px;
}
.work h3{
    padding: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
}
.work p{
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.work:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition:  300ms;
    box-shadow: 19px 19px 0 rgba(0, 0, 0, 0.418) ;
    background-color: #587a94;
}


li{
    display: inline;
}


/* FOOTER */

footer{
    height: 150px;
    background-color: white;
    align-items: center;
    display: flex;
}
.footer{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.linkfoot{
    display: flex;
}